// font
$font-title: 'Do Hyeon';
$font-default: 'Noto Sans KR';
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 500;
$font-weight-extra-bold: 700;

//color
$black: #333;
$white: #fff;
$grey-light: #f3f5f8;
$grey: #b8b8b8;
$grey-dark: #888888;
$cyan: #18ffff;
